<launch>

    <arg name="port_imu" default="/dev/ttyACM0"/>

    <rosparam command="load" file="$(find sensors)/config/imu0_calibration-2019-07-05_130310.yaml" ns="imu0/calibration" />
    <rosparam command="load" file="$(find sensors)/config/imu1_calibration-2019-06-05_192717.yaml" ns="imu/calibration" />
    
    <node pkg="rosserial_python" type="serial_node.py" name="imu_node">
        <param name="port" value="$(arg port_imu)"/>
    </node>
    
    <node pkg="sensors" name="imu_viewer" type="imu_viewer" >
        <param name="imu_topic" value="/arduino/imu" />
        <param name="origin_frame" value="odom" />
        <param name="imu_frame" value="imu_link" />
    </node>

</launch>
